<h1>New post</h1>
<%= form_for @post do |f| %>
	<%= f.label :content, 'Enter Your salacious secrets:' %>
  <%= f.text_field :content, placeholder: "Tell me what you shouldn't..." %><br>
  <%= f.submit "Submit" %>
<% end %>